[Unit]
Description=Run backup every monday at 2am

[Timer]
OnCalendar=*-*-* 10:00:00
Persistent=true
Unit=make-backup@%i.service

[Install]
WantedBy=timers.target
